*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.token.comment{
    color: black;
}
.token.selector{
    color: black;
}
.token.property{
    color: black;
}
.token.punctuation{
    color: black;
}
.token.string{
    color: black;
}
.token.function, .token.class-name{
    color: black;
}
@keyframes breath{
    0%{
      box-shadow: 0 0 50px rgba(205, 29, 73,1)
    }
    100%{
      box-shadow: 0 0 10px rgba(205, 29, 73,0.2)
    }
}
body{
    position: relative;
}
#paper{
    width: 50%;
    background: white;
    position: absolute;
    top: 0;
    right: 0;
}